/*  ===========
    GLOBAL CSS
    =========== */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.input_wrapper, .button, label {
	display: block;
}
.ValidationError {
    color: red;
}
#ComparePasswords {
    display: block;
}
/*  ===========
    Wrapper CSS
    =========== */

.wrapper {
	min-height: 100%;
	position: relative;
}

/* ================
    Main Header CSS
   ================ */

.page_header {

}

nav ul, nav ul li{
    display:inline-block;
    padding: 0;
    margin: 2px 0;
}
nav a {
    text-decoration: none;
}
.header-nav {
    padding: 0 10px;
}
.header-nav__wrapper {
    position:relative;
    max-width:1000px;
    margin:0 auto;
}

.main-nav {

}

.header-nav__user {
    position:absolute;
    right:0;
}
/* ========================
    Main "body" content CSS
   ======================== */

.body {
    margin-bottom: 50px;
}

/* ============
    Footer CSS
   ============ */

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
    width: 100%;
	text-align: center;
}
